.row
  clear: both

.tile
  display: inline-block
  margin: 15px
  padding: 20px 10px
  width: 555px
  text-align: center
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, .2)
  border-radius: 10px

.shape
  padding-right: 5px
  width: 100px
  height: 160px
  display: inline-block

.shape__inner
  overflow: visible
