@import "clearfix"

$grid-padding: 30px

*
  box-sizing: border-box

html, body
  margin: 0
  height: 100%

.game
  height: 100%
  display: flex
  flex-flow: row wrap
  align-content: stretch

.board
  width: 600px
  height: 680px
  align-self: center

.filler--left
  flex: 1

.filler--right
  flex: 1
  background: #f6f6f6

.tile-outer
  float: left
  width: 25%
  height: (100% / 3)
  padding: 10px

.tile
  display: flex
  height: 100%
  width: 100%
  padding: 20px 10px
  color: rgba(0, 0, 0, .2)
  border: 3px solid
  border-radius: 10px
  overflow: hidden
  cursor: pointer

.tile--selected
  color: #AAD5F7
  background: rgba(#AAD5F7, 0.2)

.shape-group
  flex: 1
  align-self: center

.shape
  width: 100%
  padding: 5px

.sidebar
  width: 250px
  background: #f6f6f6
  padding: $grid-padding
  display: flex
  flex-flow: column wrap

.sidebar-inner
  height: 680px
  padding: 20px 0

.sidebar-filler--top
  flex: 1

.sidebar-filler--bottom
  flex: 1

.set
  height: 100px
  display: flex
